*{
    margin: 0px;
    padding: 0px;
}
.body{
    width: 100%;
    background-color:rgb(243, 243, 243);
}
.Home{
    width: 75%;
    height: 700px;
    background-color: white;
    border: black solid 1px;
}
.list{
    width: 100%;
    height: 50px;
    background-color:rgb(129, 41, 89);
    display: flex;
    justify-content:space-around;
}
.list a{
    text-decoration: none;
    color: #001b59;
    font-size: 25px;
    font-family:'Times New Roman', Times, serif;
    padding: 10px;
}
a:hover{
    color: white;
}
.Home {
    background-image: url('images/QNB Logo.webp.JPG');
}
.Name-student{
    width: 100%;
    height: 500px;
    background-color: rgb(209, 209, 209);
    display: flex;
    justify-content:center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.Name-student th {
    background: rgba(129, 41, 89, 0.689);
    width: 200px;
    height:70px;
    font-size: 20px;
}
.Name-student td{
    text-align: center;
    font-size:18px;
    font-weight:400;
}

.Home1{
    width: 75%;
    height: 700px;
    background-color: rgb(209, 209, 209);
    border: black solid 1px;
    position: relative;
}
.Home2{
    width: 75%;
    height: 700px;
    background-color: rgb(209, 209, 209);
    border: black solid 1px;
}
.h4{
    color:black ;
    width: 550px;
    height: 450px;
    border: rgb(129, 41, 89) solid 2px;
    font-size: 20px;
}
h4:hover{
    color: rgb(129, 41, 89);
}
.img{
    height: 450px;
    border: rgb(129, 41, 89) solid 2px;
}
.aaa{
    width: 100%;
    display: flex;
    transform: translate(0px,15%);
    justify-content: space-around;
}
.bbb{
    width: 100%;
    height: 110px;
    background-color: rgb(209, 209, 209);
}
.bbb a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.Home3{
    width: 75%;
    background-color: white;
    border: black solid 1px;
}
.Products{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color:rgb(237, 231, 231);
    padding: 10px;
}
.D{
    width: 350px;
    height: 250px;
    border: rgb(129, 41, 89) solid 1px;
    margin: 10px;
    background-color: rgba(129, 41, 89, 0.689);
    display: flex;
    justify-content: center;
    font-size: 20px;
    align-items: center;
}
.D a{
    text-decoration: none;
    color: #001b59;
}
h3:hover{
    color: white;
}
.D:hover{
    background-color: rgb(191, 193, 194);
}
